<div class="nav-scrollable">
    <nav class="nav flex-column">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="materials">Materials</NavLink>
        <NavLink class="nav-link" href="materials/create">New Material</NavLink>
        <NavLink class="nav-link" href="categories">Categories</NavLink>
    </nav>
</div>
